.screen__block-connection {
  height: 100%;
  width: 100%;
  @include flex_centered(column);
  .icon {
    height: 82px;
    width: 82px;
    background-image: url('../assets/img/preloader.svg');
    background-position: center center;
    background-repeat: no-repeat;
  }
  .message {
    font-size: 16px;
    font-family: map-get($fonts, 'Roboto');
    margin-top: 16px;
  }
}