.screen__block-connection {
  height: 100%;
  width: 100%;
  @include flex_centered(row);
  background-image: url('../assets/img/preloader.svg');
  background-position: center center;
  background-repeat: no-repeat;
}