.game {
  @include full_screen;
  display: flex;
  .game__block_view-tablet {
    display: none;
  }
  .game__decor {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    &.game__decor_type-player {
      background-image: url('../assets/img/game_one_bg_player.jpg');
    }
    &.game__decor_type-enemy {
      background-image: url('../assets/img/game_one_bg_enemy.jpg');
    }
  }
  .game__block {
    margin: 10px 0;
    &.game__block_size-full_screen {
      @include full_screen;
    }
  }
}

@media (max-width: map-get($break_points, 'tablet_width')) {
  .game {
    .game__block_view-desktop-mobile {
      display: none;
    }
    .game__block_view-tablet {
      display: block;
      .game__block {
        width: 100%;
      }
    }
  }
}

@media (max-width: map-get($break_points, 'phone_width')) {
  .game {
    flex-direction: column;
    .game__block_view-tablet {
      display: none;
    }
    .game__block_view-desktop-mobile {
      display: block;
    }

    .game__block {
      &.game__block_height-mob-113 {
        max-height: 50%;
      }
    }

  }
}