.game {
  @include full_screen;
  display: flex;
  .game__item-chat-icon {
    position: absolute;
    z-index: 200000000;
    @include flex_centered(column);
    transition-duration: 0.2s;
    cursor: pointer;
    .icon {
      height: 95px;
      width: 95px;
      background-image: url('../assets/img/chat_icon.png');
      background-size: cover;
      background-repeat: no-repeat;
    }
    .check-icon {
      height: 40px;
      width: 40px;
    }
    &.game__item-chat-icon_state-winner {
      .check-icon {
        background-image: url('../assets/img/check_icon.png');
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

    &.rotate {
      // transition: transform 0.4s ease-in-out;
      transition-duration: 0.4s;
      opacity: 0.8;
      transform: rotateY(360deg);
    }
  }
  .game__decor {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    &.game__decor_type-player {
      background-image: url('../assets/img/game_one_bg_player.jpg');
    }
    &.game__decor_type-enemy {
      background-image: url('../assets/img/game_one_bg_enemy.jpg');
    }
  }
  .game__block {
    margin: 10px 0;
    &.game__block_size-full_screen {
      @include full_screen;
    }

    &.game__block_font-bold {
      font-family: map-get($fonts, 'Baloo');
      font-size: 30px;
    }
  }
}

@media (max-width: map-get($break_points, 'tablet_width')) {
  .game {
    .game__block_view-desktop-mobile {
      display: none;
    }
    .game__block_view-tablet {
      display: block;
      .game__block {
        width: 100%;
      }
    }
  }
}

@media (max-width: map-get($break_points, 'phone_width')) {
  .game {
    &.game-one {
      flex-direction: column;
      .game__block_view-tablet {
        display: none;
      }
      .game__block_view-desktop-mobile {
        display: block;
      }
    }
  }
}