$width_screen: 50%;
$height_screen: 100%;
$padding_top_bottom: 42px;
$padding_left_right: 16px;

.game-screen {
  height: $height_screen;
  width: $width_screen;
  display: flex;

  .game-screen__wrapper {
    padding: $padding_top_bottom $padding_left_right;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &.game-screen_pos-left {
    border-right: 1px solid map-get($colors, 'red');
  }

  &.game-screen_pos-right {
    border-left: 1px solid map-get($colors, 'red');
  }
}