$width_screen: 50%;
$height_screen: 100%;
$padding_top_bottom: 42px;
$padding_left_right: 16px;

.game-screen {
  height: $height_screen;
  width: $width_screen;
  display: flex;

  .game-screen__wrapper {
    padding: $padding_top_bottom $padding_left_right;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &.game-screen_pos-left {
    border-right: 1px solid map-get($colors, 'light_pink');
  }

  &.game-screen_pos-right {
    border-left: 2px solid map-get($colors, 'light_pink');
  }

  &.game-screen_pos-without-border {
    border: none;
  }
}

.game-app {
  &[dir="rtl"] {
    .game-screen {
      &.game-screen_pos-left {
        border-left: 1px solid map-get($colors, 'light_pink');
      }

      &.game-screen_pos-right {
        border-right: 2px solid map-get($colors, 'light_pink');
      }
        &.game-screen_pos-without-border {
          border: none;
        }
    }
    .vm--modal {
      left: -50%!important;
      transform: translateX(50%);
    }
  }
}

@media (max-width: map-get($break_points, 'phone_width')) {

  canvas {
    max-width: 70px;
    max-height: 70px;
  }
  .game-screen  {
    &.game-one {
      $width_screen: 100%;
      width: $width_screen;

      .game-screen__wrapper {
        $padding_top_bottom: 10px;
        padding: $padding_top_bottom $padding_left_right;
      }

      &.game-screen.game-screen_pos-left {
        border-right: none;
        border-bottom: 1px solid map-get($colors, 'light_pink');

        .game-screen__wrapper {
            .game__block {
              &:not(:first-child) {
                order: -1;
              }
            }
        }
      }

      &.game-screen_pos-right {
        border-left: none;
        border-top: 2px solid map-get($colors, 'light_pink');
      }

      &.game-screen_pos-without-border {
        border: none!important;
      }
    }
  }
}
