@keyframes hide {
  from {
    visibility: visible;
  }
  to {
    top: 50%;
    opacity: 0;
  }
}

@keyframes moveToLeft {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
   opacity: 0;
  }
}

.game {
  @include full_screen;
  display: flex;
  .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 900000;
    &.overlay-animate {
      animation-name: moveToLeft;
      animation-duration: 3s;
      animation-fill-mode: forwards;
    }
    .overlay__bg {
      background-color: map-get($colors, 'black');
      height: 100%;
      width: 100%;
      opacity: .7;
    }
    .overlay__bg_color-white {
      background-color: map-get($colors, 'white');
      height: 100%;
      width: 100%;
    }
    .overlay__body {
      position: absolute;
      overflow-y: auto;
      height: 100%;
      width: 100%;
      top: 0;
      z-index: 1000000;
      .answer {
        font-size: 65px;
        font-family: map-get($fonts, 'Baloo');
        color: map-get($colors, 'red');
      }
      .title {
        text-align: center;
        font-size: 20px;
        font-family: map-get($fonts, 'Baloo');
        color: map-get($colors, 'red');
      }
      .overlay__wrapper {
        padding: 10px;
        .overlay__close {
          width: 100%;
          .icon {
            cursor: pointer;
            margin-left: auto;
            height: 18px;
            width: 18px;
            background-image: url('../assets/img/close_icon.png');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
          }
        }
        .text {
          font-size: 20px;
          font-family: map-get($fonts, 'Baloo');
          color: map-get($colors, 'white');
          &:not(:first-child) {
            margin-top: 10px;
          }
          span {
            color: map-get($colors, 'red');
          }
        }
      }
    }
  }
  .waiter-title {
    font-size: 16px;
    font-family: map-get($fonts, 'Roboto');
    margin-top: 10px;
    text-align: center;
  }
  .waiter-preloader {
    height: 82px;
    width:  82px;
    background-image: url('../assets/img/preloader.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .game__item-chat-icon {
    position: absolute;
    z-index: 200000000;
    @include flex_centered(column);
    cursor: pointer;
    .icon {
      height: 95px;
      width: 95px;
      background-image: url('../assets/img/chat_icon.png');
      background-size: cover;
      background-repeat: no-repeat;

      &.rotate {
        transition-duration: 0.4s;
        transition-timing-function: ease-out;
        transform: rotateY(360deg);
        opacity: 0;
      }
    }
    .check-icon {
      height: 40px;
      width: 40px;
    }
    &.game__item-chat-icon_state-winner {
      .check-icon {
        background-image: url('../assets/img/check_icon.png');
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

    &.game__item-chat-icon_state-lose {
      .check-icon {
        background-image: url('../assets/img/sad_icon.png');
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
  .game__decor {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    &.game__decor_type-player {
      background-image: url('../assets/img/game_one_bg_player.jpg');
    }
    &.game__decor_type-enemy {
      background-image: url('../assets/img/game_one_bg_enemy.jpg');
    }
  }
  .game__message {
    font-size: 36px;
    font-family: map-get($fonts, 'Baloo');
    text-align: center;
    overflow-wrap: anywhere;
  }
  .game__answer {
    font-size: 22px;
    font-family: Roboto;
    opacity: .5;
    overflow-wrap: anywhere;
    text-align: center;
  }
  .game__choose-answer {
    .game__message {
      margin-top: auto;
      margin-bottom: auto;
    }
    .game__block {
        .game__button {
          &:nth-child(2)  {
            margin-left: 10px;
          }
        }
      }
  }
  .game__block {
    margin: 10px 0;
    .link__text {
      font-size: 16px;
      font-family: map-get($fonts, 'Roboto');
      text-decoration: underline;
      text-align: center;
      opacity: .5;
      cursor: pointer;
    }
    .game__third-icon {
      height: 160px;
      width: 130px;
      background-image: url('../assets/img/chat_icon_original.jpg');
      background-size: contain;
      background-repeat: no-repeat;
      &.game__third-icon_type-enemy {
        opacity: .5;
        cursor: pointer;
        &.animate {
          transform: scale(1.2);
          transition-duration: 0.2s;
        }
        &.animate-back-drop {
          transform: scale(1);
          transition-duration: 0.2s;
        }
      }
      .add-score-decor {
        top: -20%;
        left: 50%;
        font-family: map-get($fonts, 'Baloo');
        transform: translateX(-50%);
        visibility: hidden;
        color: map-get($colors, 'red');
        &.add-score-decor_animate-hide {
          visibility: visible;
        }
      }
      &.game__third-icon_type-player {
        cursor: pointer;
        &.animate {
          transform: scale(1.2);
          transition-duration: 0.2s;
        }
        &.animate-back-drop {
          transform: scale(1);
          transition-duration: 0.2s;
        }
      }
    }
    .add-score-decor {
      top: -100%;
      left: 50%;
      transform: translateX(-50%);
      color: map-get($colors, 'red');
      &.add-score-decor_animate-hide {
        animation: hide 0.7s ease-in;
        animation-fill-mode: forwards;
      }
      div {
        font-size: 25px;
      }
    }
    &.game__block_size-full_screen {
      @include full_screen;
    }

    &.game__block_font-bold {
      font-family: map-get($fonts, 'Baloo');
      font-size: 30px;
    }
  }
}

.game-app {
  &[dir="rtl"] {
    .game__decor {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
      &.game__decor_type-player {
        transform: rotateY(-180deg);
        background-image: url('../assets/img/game_one_bg_player.jpg');
      }
      &.game__decor_type-enemy {
        transform: rotateY(180deg);
        background-image: url('../assets/img/game_one_bg_enemy.jpg');
      }
    }
  }
}


@media (max-width: map-get($break_points, 'tablet_width')) {
  .game {
    .game__block {
      margin-top: 5px;
      .game__third-icon {
        width: 80px;
        height: 80px;
      }
    }
  .game__choose-answer {
    .game__message {
      margin-top: auto;
      margin-bottom: auto;
    }
    .game__block {
        .game__button {
          width: 100%;
          @include flex_centered(row);
          &:nth-child(2)  {
            margin-left: 0px;
            margin-top: 10px;
          }
        }
    }
  }
    .game__block_view-desktop-mobile {
      display: none;
    }
    .game__block_view-tablet {
      display: block;
      .game__block {
        width: 100%;
      }
    }
  }
}

@media (max-width: map-get($break_points, 'phone_width')) {
  .game {
    &.game-three {
      flex-direction: column!important;
    }
    &.game-one {
      flex-direction: column!important;
      .game__block_view-tablet {
        display: none;
      }
      .game__block_view-desktop-mobile {
        display: block;
      }
    }
  }
}