.input-game {
  height: 54px;
   width: 100%;
  font-family: map-get($fonts, 'Roboto');
  .input__element {
    height: 100%;
    width: 100%;
    padding: 0 16px;
    border-radius: 2px;
    font-size: 16px;
    &.input__element_text-pos-center {
      text-align: center;
      font-size: 22px;
      color: map-get($colors, 'black');
      font-family: map-get($fonts, 'Baloo');
    }
    &.input__element_theme-biege {
      background-color: map-get($colors, 'beige');
      box-shadow: -1px -1px 2px rgba(214, 214, 214, 0.5), 1px 1px 2px rgba(255, 255, 255, 0.3), inset 5px 5px 13px rgba(214, 214, 214, 0.1), inset -5px -5px 10px rgba(255, 255, 255, 0.9), inset 5px -5px 10px rgba(214, 214, 214, 0.2), inset -5px 5px 10px rgba(214, 214, 214, 0.2);
      border: transparent;
    }

    &.input__element_theme-biege-red {
      background-color: map-get($colors, 'beige');
      box-shadow: -1px -1px 2px rgba(214, 214, 214, 0.5), 1px 1px 2px rgba(255, 255, 255, 0.3), inset 5px 5px 13px rgba(214, 214, 214, 0.1), inset -5px -5px 10px rgba(255, 255, 255, 0.9), inset 5px -5px 10px rgba(214, 214, 214, 0.2), inset -5px 5px 10px rgba(214, 214, 214, 0.2);
      color: map-get($colors, 'red');
      border: 1px solid map-get($colors, 'stail');
      &::placeholder {
        color: map-get($colors, 'red');
      }
    }

    &::placeholder {
      opacity: .5;
    }

    &.input__element_state-novalide {
      border: 2px solid map-get($colors, 'red');
    }
  }

  .input__error-message {
    display: inline-block;
    color: map-get($colors, 'red');
    margin: 10px 0;
  }
}


@media (max-width: map-get($break_points, 'tablet_width')) {
  .input-game {
    width: 100%;
  }
}

@media (max-width: map-get($break_points, 'phone_width')) {
  .input-game {
    display: inline-block;
    height: 35px;
    // width: 133px;
  }
}