$r: 50%;
$width_bar: 164px;
$height_bar: 164px;

@keyframes notify {
  from {
  }
  to {
    // background-color: map-get($colors, 'red');
  }
}


.progressGame {
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  width: $width_bar;
  height: $height_bar;
  border-radius: $r;
  z-index: 500;
  @include flex_centered(row);
  .progress__bg {
    width: 130px;
    height: 130px;
    position: absolute;
    border-radius: $r;
    background-color: map-get($colors, 'white');
    @include absolute_centered_hack;
    z-index: 2;
  }

  .progress__text {
    position: absolute;
    @include absolute_centered_hack;
    z-index: 2;
    font-family: map-get($fonts, 'Baloo');
    font-size: 36px;
    color: map-get($colors, 'red');
  }

  .progress__indicator {
    width: $width_bar - 1;
    height: $height_bar - 1;
    background-color: map-get($colors, 'red');

    position: absolute;
    top: 0;
    left: 0;
    transition: transform .1s;
    transition-timing-function: ease-out;
  }

  .progress__overlay {
    width: $width_bar;
    height: $height_bar;
    border-radius: $r;
    // clip: rect(auto,  $width_bar / 2 , auto, auto);
    position: absolute;
    top: 0;
    left: 0;
  }

  .progress__cursor-wrapper {
    height: 100%;
    width: 100%;
    .progress__cursor {
      position: absolute;
      top: 0;
      left: $width_bar / 2 - 17px / 2;
      z-index: 3;
      .circle {
        height: 17px;
        width: 17px;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.12);
        background-color: map-get($colors, 'white');
        border-radius: $r;
        position: relative;

        .circle-red {
          height: 9px;
          width: 9px;
          background-color: map-get($colors, 'red');
          border-radius: $r;
          position: absolute;
          @include absolute_centered_hack;
        }
      }
    }
  }

  &.progress_time-is-running {
    .progress__text {
      font-size: 65px;
    }
    .progress__overlay {
      animation: notify 1s infinite  ease-in;
    }
  }

  &.progress_time-is-finished {
    opacity: 0;
     .progress__text {
      font-size: 65px;
    }
  }
}

@media (max-width: map-get($break_points, 'phone_width')) {
  .progressGame {
    &.game-one {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      $width_bar: 90px;
      $height_bar: 90px;
    }
    width: $width_bar;
    height: $height_bar;

    &.game-four {
      top: 0;
      width: 80px;
      height: 80px;
    }

    .progress__bg {
      width: 65px;
      height: 65px;
    }

    .progress__indicator {
      width: $width_bar - 1;
      height: $height_bar - 1;
    }

    .progress__overlay {
      width: $width_bar;
      height: $height_bar;
      clip: rect(auto,  $width_bar / 2 , auto, auto);
    }

    .progress__cursor-wrapper {
      .progress__cursor {
        position: absolute;
        top: -2px;
        left: $width_bar / 2 - 17px / 2;
      }
    }

    .progress__text {
      font-size: 22px;
    }

    &.progress_time-is-finished {
      .progress__text {
       font-size: 29px;
     }
   }
  }
}