@keyframes vibrate_move {
  from {
    transform: translateX(5px);
    opacity: .5;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@mixin box {
  box-shadow: -1px -1px 2px rgba(214, 214, 214, 0.5), 1px 1px 2px rgba(255, 255, 255, 0.3), inset 5px 5px 13px rgba(214, 214, 214, 0.1), inset -5px -5px 10px rgba(255, 255, 255, 0.7), inset 5px -5px 10px rgba(214, 214, 214, 0.2), inset -5px 5px 10px rgba(214, 214, 214, 0.2);
  border-radius: 2px;
  background-color: map-get($colors, 'beige');
  height: 54px;
  width: 54px;
  user-select: none;
  &:hover {
    cursor: pointer;
    opacity: .5;
  }
}
$box_margin: 10px;

.slider {
  .slider__wrapper {
    display: flex;
    overflow: hidden;
    @include flex_centered(row);
    .slider__slide {
      display: none;
      &.slider__slide_state-visibility {
        display: flex;
      }
      .slider__value {
        margin: 0 $box_margin;
        animation: vibrate_move 0.5s ease-in;
        &.slider__value_active {
          background-color: map-get($colors, 'red');
          color: map-get($colors, 'white');
        }
        &.slider__value_box-grey {
          @include box;
        }
        @include flex_centered(row);
        span {
          font-size: 22px;
          font-family: map-get($fonts, 'Baloo');
        }
      }
    }
  }
  .slider__button {
    margin:0 $box_margin;
    z-index: 200;
    &.slider__button_box-grey {
      @include box;
    }
    &.slider__button_dir-left {
      .slider__icon {
        background-image: url('/assets/img/arrow_dir_left.png');
        background-repeat: no-repeat;
        background-position: center center;
        @include full_screen;
      }
    }
    &.slider__button_dir-right {
      .slider__icon {
        background-image: url('/assets/img/arrow_dir_right.png');
        background-repeat: no-repeat;
        background-position: center center;
        @include full_screen;
      }
    }
  }
}