@font-face {
    font-family: 'Baloo';
    src: local('Baloo'), local('Baloo-Regular'), url('Baloo.woff2') format('woff2'), url('Baloo.woff') format('woff'), url('Baloo.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
