@mixin flex_centered($direct) {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: $direct;
}

@mixin screen {
  .screen {
    height: inherit;
    width: inherit;

    .screen__block {
      height: inherit;
      width: inherit;
      @content;
    }
  }
}

@mixin absolute_centered_hack  {
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}