.flex {
  display: flex;
}

.flex_space-between {
  justify-content: space-between;
}

.flex_align-baseline {
  align-items: baseline;
}

.flex_justify_content_center {
  justify-content: center;
}

.full_screen {
  height: 100%;
  width: 100%;
}