$colors: (
  'red': #EF4141,
  'pink': #FFE5D2,
  'black': #000000,
  'blue': #B1E1F0,
  'light_grey': #B3B3B3,
  'grey': #666666,
  'beige': #F6F6F6,
  'light_green': #57E040,
  'white': #FFFFFF,
  'light_pink': #FFB9B9,
  'stail': #D2D2D2,
);

$fonts: (
  'Baloo': ('Baloo', 'Rubik', Arial, sans-serif),
  'Roboto': ('Roboto', 'Rubik', Arial, sans-serif),
  'Arial': 'Arial sans-serif',
  'Rubik': 'Rubik sans-serif'
);

$break_points: (
  'tablet_width': 768px,
  'phone_width': 500px
);